{%extends "base.html"%}
{%block start%}
<div class="container mt-5">
      <hr>
      <div class="mt-5">
        <div class="mx-auto col-6">
            <form >
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Search User</label>
                <input type="text" name="search" class="form-control" id="Name" aria-describedby="emailHelp" required>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
      </div>
      <hr>
      <table class="container table table-striped-columns mt-5">
        <tr>
          <th>S.No</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
          <th>Actions</th>
        </tr>
        {% for user in User %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.username}}</td>
            <td>
                <a href="/delete-user/{{user.id}}/" class="btn btn-danger m-2">Delete</a>
                <a href="/update-user/{{user.id}}/" class="btn btn-warning">Update</a>
            </td>
        </tr>
        {% endfor %}
      </table>
</div>
{%endblock%}